@import "../color-themes";

.socailbtn {
    cursor: pointer;
    display: flex;
    justify-content: start;
    color: #f2cc93;
    background-color: #2d2d2d;
    @include set_font_fam;
    @include all_transition_durations;
    .socailbtn_img {
        cursor: pointer;
        margin-left: 0.5pc;
    }
    &:hover {
        background: #8884d8;
        color: #f2cc93;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .socailbtn {
        margin: 0pc 0.2pc;
        border-radius: 0.4pc;
        .socailbtn_img {
            width: 1.5pc;
            margin: auto 0.5pc;
        }
        .socailbtn_label {
            margin-right: 1pc;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .socailbtn {
        margin: 0pc 0.2pc;
        border-radius: 0.4pc;
        .socailbtn_img {
            width: 1.5pc;
            padding: 0.75pc;
            margin: 0pc;
        }
        .socailbtn_label {
            display: none;
        }
    }
}