@import "../color-themes";

.timebutton {
    cursor: pointer;
    border-width: 0pc;
    border-radius: 0.4pc;
    margin: 0.2pc;
    color: #f2cc93;
    background-color: #2d2d2d;
    @include set_font_fam;
    @include all_transition_durations;
    &:hover {
        background: #8884d8;
        color: #f2cc93;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .timebutton {
        margin: 0pc 0.2pc;
        width: 6vw;
        height: 4vh;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .timebutton {
        width: 15vw;
        height: 4vh;
    }
}